.containerFooter {
  width: 100%;
  background: #111827 ;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto;
}

.containerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.containerLinks .icons:hover {
  color: orange;
}

.mainParagraph {
  color: #fff;
}

@media (max-width: 500px) {
  .containerFooter {
    padding: 0.7rem 0.2rem;
    font-size: 0.95rem;
  }

  .containerLinks {
    gap: 6px;
  }

  .mainParagraph {
    font-size: 0.95rem;
    margin-top: 0.5rem;
  }
}